@font-face {
  font-family: "cuprum";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/cuprum.woff2") format("woff2"),
    url("fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "cuprum";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/cuprumbold.woff2") format("woff2"),
    url("fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "cuprum";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/cuprumitalic.woff2") format("woff2"),
    url("fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "cuprum";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/cuprumbolditalic.woff2") format("woff2"),
    url("fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "ptsans";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/ptsans.woff2") format("woff2"),
    url("fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "ptsans";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/ptsansbold.woff2") format("woff2"),
    url("fonts/ptsansbold.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.login-box ul,
.main-menu ul,
.slider-items,
.popular-goods ul,
.tabs,
.delivery ul,
.footer-container ul,
.copyright-item ul,
.breadcrumbs,
.catalog ul,
.popular-fabricator ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background: #f2f6f8 url("../img/bg-top.png");
  border-bottom: 1px solid transparent;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-box {
  display: block;
  width: 100%;
  margin-bottom: 46px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 47px;
  margin-bottom: -5px;
  padding-bottom: 5px;
  background-color: #ee3643;
  -webkit-box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.24) inset;
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.24) inset;
}

.logo-img:hover,
.logo-img:focus {
  background-color: #ca2c37;
}

.logo-img:active {
  background-color: #ba2732;
}

.logo-img img {
  width: 110px;
  height: 20px;
  margin: auto;
}

.search-box {
  position: relative;
  margin: 0;
}

.search-box .search-loupe {
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 10;
  width: 17px;
  height: 17px;
  background: url("../img/icon-search.svg") no-repeat;
  background-position: center;
  opacity: 0.3;
}

.search-box:hover .search-loupe,
.btn-logo:hover::before {
  opacity: 1;
}

.search-box input {
  width: 270px;
  min-height: 42px;
  padding-right: 5px;
  padding-left: 48px;
  color: #000000;
  background: #293449;
  border: none;
}

.search-box input:hover {
  background: #212a3a;
}

.search-box input:active,
.search-box input:focus,
.search-box input:active::-webkit-input-placeholder,
.search-box input:focus::-webkit-input-placeholder {
  color: #000000;
  background: #ffffff;
}

.search-box input:active,
.search-box input:focus,
.search-box input:active:-ms-input-placeholder,
.search-box input:focus:-ms-input-placeholder {
  color: #000000;
  background: #ffffff;
}

.search-box input:active,
.search-box input:focus,
.search-box input:active::-ms-input-placeholder,
.search-box input:focus::-ms-input-placeholder {
  color: #000000;
  background: #ffffff;
}

.search-box input:active,
.search-box input:focus,
.search-box input:active::placeholder,
.search-box input:focus::placeholder {
  color: #000000;
  background: #ffffff;
}

input[type="search"]:active~.search-loupe,
input[type="search"]:focus~.search-loupe {
  background: url("../img/icon-search-red.svg") no-repeat;
  opacity: 1;
}

.search-box input::-webkit-input-placeholder {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-box input:-ms-input-placeholder {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-box input::-ms-input-placeholder {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-box input::placeholder {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.btn-logo {
  position: relative;
  display: block;
  min-width: 150px;
  padding-top: 12px;
  padding-left: 17px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: #293449;
}

.btn-logo:hover,
.btn-logo:focus {
  background: #212a3a;
}

.btn-logo:active {
  opacity: 0.6;
}

.btn-logo::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 10;
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  opacity: 0.3;
}

.bookmarks::before {
  background: url("../img/icon-bookmark.svg") no-repeat;
}

.cart::before {
  background: url("../img/icon-cart.svg") no-repeat;
}

.order {
  padding-left: 0;
  background: #63a63e;
}

.order:hover,
.order:focus {
  background: #5fbb2d;
}

.cart-full {
  background: #ee3643;
}

.cart-full:hover,
.cart-full:focus {
  background: #ba2732;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.title-header {
  width: 300px;
  margin: 0;
  padding: 3px 50px 0 52px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contacts-login p {
  width: 270px;
  margin: 0;
  margin-right: auto;
  margin-left: 20px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #32425c;
}

.phone {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 270px;
  padding: 9px;
  padding-left: 30px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  background: #f3f7f9;
  border: 3px solid #ffffff;
}

.phone::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 12px;
  z-index: 10;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-phone.svg") no-repeat;
  background-position: center;
}

.login-box {
  position: relative;
  width: 300px;
}

.login-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
}

.login-box li {
  position: relative;
  margin-left: 10px;

}

.btn-login {
  display: block;
  min-width: 121px;
  padding: 12px 24px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background: #ffffff;
}

.login-icon {
  padding-left: 48px;
}

.login-icon::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 10;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-login.svg") no-repeat;
  background-position: center;
  opacity: 0.3;
}

.login-icon:hover::before {
  opacity: 1;
}

.btn-login:hover,
.btn-login:focus {
  color: #ee3643;
}

.btn-login:active {
  color: #000000;
  opacity: 0.3;
}

.login-breadcrumbs a {
  font-family: "cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.login-breadcrumbs span {
  display: block;
  width: 4px;
  height: 5px;
  background: #32425c;
  border-radius: 50%;
}

.btn-login.user:hover,
.btn-login.user:focus {
  color: #000000;
}

.login-breadcrumbs a:hover,
.login-breadcrumbs a:focus {
  color: #ee3643;
}

.btn-login.user:active,
.login-breadcrumbs a:active {
  opacity: 0.3;
}

.main-menu {
  margin-bottom: 60px;
  color: #ffffff;
  background: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 #293449;
  box-shadow: inset 0 -5px 0 #293449;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-menu a {
  display: block;
  padding: 20px 30px 22px 31px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #293449;
}

.main-menu a:active {
  opacity: 0.5;
}

.promo-block {
  margin-top: 60px;
  margin-bottom: 35px;
}

.promo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo-item {
  position: relative;
  display: block;
  width: 300px;
  margin-bottom: 20px;
  padding: 21px 23px;
}

.promo-item h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-materials {
  background: #ffbf47;
}

.promo-tool {
  background: #3bbce3;
}

.promo-enginery {
  background: #dc91d8;
}

.promo-sale {
  background: #8ed78f;
}

.promo-delivery {
  background: #ffc047;
}

.promo-item::after {
  content: "";
  position: absolute;
  bottom: 27px;
  display: block;
  width: 78px;
  height: 72px;
}

.promo-materials::after {
  right: 43px;
  background: url("../img/icon-promo-materials.svg") no-repeat;
  background-position: bottom right;
}

.promo-tool::after {
  right: 28px;
  bottom: 29px;
  background: url("../img/icon-promo-tool.svg") no-repeat;
  background-position: bottom right;
}

.promo-enginery::after {
  right: 31px;
  bottom: 29px;
  background: url("../img/icon-promo-enginery.svg") no-repeat;
  background-position: bottom right;
}

.promo-sale::after {
  right: 45px;
  bottom: 25px;
  background: url("../img/icon-promo-sale.svg") no-repeat;
  background-position: bottom right;
}

.promo-delivery::after {
  right: 32px;
  background: url("../img/icon-promo-delivery.svg") no-repeat;
  background-position: bottom right;
}

.promo-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.btn-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 136px;
  min-height: 38px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.btn-promo:hover,
.btn-promo:focus {
  background: rgba(0, 0, 0, 0.2);
}

.btn-promo:active {
  background: rgba(0, 0, 0, 0.3);
}

.promo-slider {
  position: relative;
  display: block;
  width: 620px;
  height: 266px;
}

.slider-list {
  position: relative;
  display: block;
  width: 620px;
  height: 266px;
  overflow: hidden;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.slider-item {
  position: absolute;
  width: 620px;
  height: 266px;
}

.slider-controls {
  position: absolute;
  bottom: 29px;
  left: 294px;
  z-index: 20;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.slider-controls label:hover,
#slide1:checked~.slider-controls label:nth-of-type(1),
#slide2:checked~.slider-controls label:nth-of-type(2) {
  background: #ee3643;
}

.slider-item {
  position: absolute;
  z-index: 0;
  width: 620px;
  height: 266px;
  opacity: 0;
}

#slide1:checked~.slider-list>.slide1,
#slide2:checked~.slider-list>.slide2 {
  z-index: 1;
  opacity: 1;
}

.slider-list h3 {
  position: absolute;
  top: 22px;
  left: 24px;
  z-index: 1;
  margin: 0;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-list p {
  position: absolute;
  top: 60px;
  left: 25px;
  z-index: 1;
  margin: 0;
  color: #ffffff;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 193px;
  min-height: 36px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.button-catalog {
  position: absolute;
  bottom: 23px;
  left: 26px;
  z-index: 1;
  margin: 0;
  padding-left: 5px;
}

.button:hover,
.button:focus {
  background: #ca2c37;
}

.button:active {
  background: #ba2732;
}

.btn-slider {
  position: absolute;
  top: 109px;
  z-index: 20;
  display: block;
  width: 30px;
  height: 45px;
}

.button-prev {
  left: 18px;
  background: url("../img/icon-left.svg") no-repeat 100% 100%;
}

.button-next {
  right: 20px;
  background: url("../img/icon-right.svg") no-repeat 100% 100%;
}

.title {
  position: relative;
}

.title h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 28px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background: #f9f5f0;
}

.title .button {
  position: absolute;
  top: 26px;
  right: 25px;
  width: 251px;
}

.item-new::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 20;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: url("../img/new.png") no-repeat 0 0;
}

.catalor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  display: block;
  width: 220px;
  min-height: 318px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item img {
  display: block;
  width: 218px;
  height: 170px;
}

.catalog-title {
  display: block;
  padding: 9px 15px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.price {
  display: block;
  min-height: 24px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-transform: uppercase;
}

.price-crossed {
  display: block;
  min-height: 24px;
  text-decoration: line-through;
}

.price-catalog {
  position: relative;
  display: block;
  width: 134px;
  margin: 4px auto;
  padding: 11px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.price-catalog::after {
  content: "";
  position: absolute;
  top: 0;
  right: -26px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 218px;
  min-height: 170px;
}

.button-hover {
  display: none;
}

.catalog-item:hover .button-hover {
  display: block;
}

.catalog-item:hover img {
  display: none;
}

.btn-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
}

.btn-buy {
  margin-bottom: 7px;
  color: #ffffff;
  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 #367315;
  box-shadow: inset 0 -3px 0 #367315;
}

.btn-buy:hover,
.btn-buy:focus {
  color: #ffffff;
  background: #5fbb2d;
}

.btn-buy:active {
  color: #ffffff;
  background: #518534;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-bookmarks {
  color: #32425c;
  border: 3px solid #63a63e;
}

.btn-bookmarks:hover,
.btn-bookmarks:focus {
  border-color: #32425c;
}

.btn-bookmarks:active {
  opacity: 0.3;
}

.popular-fabricator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 65px;
}

.fabricator-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.fabricator-item a {
  margin: auto;
  line-height: 0;
}

.fabricator-item:hover,
.fabricator-item:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.fabricator-item:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.service-box {
  margin-bottom: 20px;
  padding-top: 1px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background: #f2f6f8 url("../img/bg-top.png");
}

.service-box p {
  width: 400px;
  margin-bottom: 25px;
  padding-top: 4px;
}

.service-box h2,
.delivery-map h2,
.about-goods h2 {
  margin-top: 60px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs {
  padding-top: 43px;
  padding-bottom: 45px;
}

.tabs a {
  display: block;
  width: 240px;
  padding: 15px 23px 17px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  -webkit-box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.tabs a:hover,
.tabs a:focus {
  background-color: #293449;
  -webkit-box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.tabs a:active {
  color: #32425c;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 0 #ffffff,
    inset 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff,
    inset 0 1px 0 #ffffff;
}

.tabs .active a {
  color: #32425c;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
}

.tabs-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 42px;
  padding-left: 81px;
  -webkit-box-shadow: -25px 0 20px -30px rgba(0, 0, 0, 0.5);
  box-shadow: -25px 0 20px -30px rgba(0, 0, 0, 0.5);
}

.tabs-content h4 {
  margin: 0;
  padding: 0;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.tabs-content p {
  padding-top: 12px;
  padding-right: 25px;
}

.tabs-delivery p {
  padding-right: 123px;
}

.tabs-delivery {
  background: url("../img/service-delivery.png") no-repeat right 25px;
}

.tabs-garant {
  background: url("../img/service-garant.png") no-repeat right 25px;
}

.tabs-credit {
  background: url("../img/service-credit.png") no-repeat right 25px;
}

.btn-tabs {
  width: 195px;
  background: #ff5357;
}

.tabs-panel {
  display: none;
  min-height: 260px;
}

.tabs-panel.active {
  display: block;
}

.delivery-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 1px;
  padding-bottom: 85px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.delivery {
  width: 540px;
}

.delivery li {
  padding-top: 20px;
  padding-left: 35px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.delivery ul {
  margin-bottom: 38px;
}

.delivery p {
  margin-bottom: 24px;
}

.delivery p:last-of-type {
  margin-bottom: 0;
}

.delivery .button {
  width: 220px;
}

.map-box {
  width: 300px;
}

.map-box .map-text {
  padding-right: 85px;
}

.map-box .button {
  width: 100%;
}

.btn-map {
  display: block;
  width: 300px;
  height: 158px;
  margin-top: 32px;
  margin-bottom: 40px;
  background: url("../img/map.png") no-repeat 100% 100%;
}

.modal-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  /* Временно для стилизации */
  /* display: flex; */
  background: rgba(0, 0, 0, 0.2);

}

.modal-map {
  position: relative;
  width: 940px;
  height: 446px;
  margin: auto;
  background: #565656;
  -webkit-box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  background: none;
  border: none;
}

.btn-close::before,
.btn-close::after {
  content: ' ';
  position: absolute;
  top: 0;
  width: 5px;
  height: 22px;
  background: #ee3643;
}

.btn-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-form {
  position: relative;
  width: 620px;
  margin: auto;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background: #ffffff;
  border-top: 7px solid #ff5357;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 40px 80px 0 80px;
  margin-top: 40px;
}

.form-item p {
  width: 220px;
}

.form-item input,
.form-item-message textarea {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.form-item-message {
  margin: 0 80px 40px 80px;
}

.modal-bottom {
  width: 100%;
  padding: 40px 80px;
  background: #f4f4f4;
}

.modal-bottom button {
  border: none;
}

.modal-basket {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 620px;
  min-height: 282px;
  margin: auto;
  background: #ffffff;
}

.modal-basket p {
  position: relative;
  margin: 65px auto;
  padding-left: 88px;
}

.modal-basket p::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  width: 66px;
  height: 66px;
  background: url("../img/icon-mark.svg") no-repeat;
  background-position: center;
}

.modal-basket .modal-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.modal-basket .button {
  width: 220px;
}

.modal-basket .btn-basket {
  margin-right: 20px;
}

.main-footer {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background: #293449;
}

.logo-footer {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  background: #32425c;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 38px;
}

.logo-footer .logo-img {
  width: 220px;
  height: 68px;
}

.logo-footer img {
  width: 138px;
  height: 23px;
}

.logo-footer p {
  width: 330px;
  margin-top: 33px;
  margin-left: 4px;
}

.logo-footer a {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-container .menu-footer {
  margin-top: 35px;
  margin-bottom: 75px;
}

.menu-footer-other li,
.menu-footer li {
  margin-right: 30px;
  margin-left: 30px;
}

.menu-footer-other li:first-child,
.menu-footer li:first-child {
  margin-right: 30px;
  margin-left: 0;
}

.menu-footer-other li:last-child,
.menu-footer li:last-child {
  margin-right: 0;
  margin-left: 30px;
}

.menu-footer a {
  color: #ffd180;
}

.logo-footer a:hover {
  text-decoration: underline;
}

.logo-footer a:active,
.logo-footer a:focus {
  text-decoration: none;
  opacity: 0.5;
}

.copyright-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 34px;
  padding-bottom: 30px;
}

.copyright-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 250px;
}

.copyright-item .socia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socia-box {
  width: 150px;
  margin-left: 137px;
}

.icon-socia {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 2px;
  background-color: #212a3a;
  border-radius: 50%;
}

.icon-socia:hover,
.icon-socia:focus {
  background: #ee3643;
}

.icon-socia a {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.icon-vk {
  background: url("../img/icon-vk.svg") no-repeat;
  background-position: center;
}

.icon-fb {
  background: url("../img/icon-fb.svg") no-repeat;
  background-position: center;
}

.icon-inst {
  background: url("../img/icon-insta.svg") no-repeat;
  background-position: center;
}

.copyright-item a {
  color: #ffd180;
}

.copyright-item a:hover {
  text-decoration: underline;
}

.copyright-item a:focus,
.copyright-item a:active {
  color: #ee3643;
  text-decoration: none;
}



.copyright-item:last-child {
  width: 300px;
  margin-left: auto;
}

.copyright-item p {
  margin: 0;
  padding-left: 0px;
}

.copyright-item p+p {
  margin-left: 53px;
}

/* Дополнительные стили для catalog.html */
.user {
  padding-left: 48px;
}

.user::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 10;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-login-out.svg") no-repeat;
  background-position: center;
  opacity: 0.3;
}

.user::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 10;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icon-user.svg") no-repeat;
  background-position: center;
  opacity: 0.3;
}

.user:hover::before,
.user:hover::after {
  opacity: 1;
}

.login-box .login-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 18px;
}

.login-breadcrumbs li {
  margin: 0;
  margin-right: 14px;
}

.login-breadcrumbs span {
  margin-top: 8px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  margin-bottom: 16px;
}

.breadcrumbs a {
  position: relative;
  margin: 0;
  padding-right: 14px;
  padding-left: 28px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

a.home-page {
  display: block;
  width: 14px;
  height: 12px;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  padding-right: 27px;
  background: url("../img/icon-home.svg") no-repeat;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -7px;
  z-index: 1;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  -webkit-box-shadow: 1px 1px 0 0 #c5c9d1;
  box-shadow: 1px 1px 0 0 #c5c9d1;
  -webkit-transform: rotate(-45deg) scale(0.73);
  transform: rotate(-45deg) scale(0.73);
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

.breadcrumbs a.current-page::after {
  display: none;
}

.main-catalog {
  margin-bottom: 60px;
}

.title-catalog {
  width: 100%;
  margin: 10px 0 20px;
  padding: 30px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background: #f2f6f8;
}

.sorting-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.catalog {
  width: 700px;
  margin-left: 20px;
}

.filter {
  width: 220px;
}

.filter h3,
.sorting h3 {
  margin: 0;
  padding: 10px 20px 10px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background: #f7f3ec;
  border-radius: 2px;
}

.filter h4 {
  margin: 0;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter-price h4 {
  padding-top: 10px;
}

.filter-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 220px;
  min-height: 130px;
  margin-top: 12px;
}

.range-controls {
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background: #f7f3ec;
  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 160px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

.price-controls input {
  width: 95px;
  height: 38px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background: #f7f3ec;
  border: none;
  border-radius: 2px;
}

.price-controls span {
  display: block;
  width: 10px;
  height: 1px;
  background: #000000;
}

.filter-fabricator,
.filter-power {
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
}

.filter-fabricator {
  padding-bottom: 10px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.filter-fabricator h4 {
  padding-top: 17px;
}

.filter-fabricator-checkbox {
  position: relative;
  margin-top: 13px;
  margin-bottom: 21px;
}

.filter-fabricator-checkbox label {
  position: relative;
  padding-left: 34px;
  cursor: default;
}

.filter-fabricator-checkbox label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 25px;
  background: url("../img/checkbox-off.svg") no-repeat left center;
}

.filter-fabricator-checkbox label:hover:before {
  background: url("../img/checkbox-off-hover.svg") no-repeat left center;
}

.filter-fabricator-checkbox input:disabled+label {
  opacity: 0.3;
}

.filter-fabricator-checkbox input:checked+label:before {
  background: url("../img/checkbox-on.svg") no-repeat left center;
}

.filter-fabricator-checkbox input:checked+label:hover:before {
  background: url("../img/checkbox-on-hover.svg") no-repeat left center;
}

.filter-power {
  margin-bottom: 80px;
}

.filter-power h4 {
  margin-top: 10px;
}

.filter-power-radio {
  position: relative;
  margin-top: 13px;
  margin-bottom: 21px;
}

.filter-power-radio label {
  position: relative;
  padding-left: 34px;
  cursor: default;
}

.filter-power-radio label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 25px;
  background: url("../img/radio-off.svg") no-repeat left center;
}

.filter-power-radio label:hover:before {
  background: url("../img/radio-off-hover.svg") no-repeat left center;
}

.filter-power-radio input:disabled+label {
  opacity: 0.3;
}

.filter-power-radio input:checked+label:before {
  background: url("../img/radio-on.svg") no-repeat left center;
}

.filter-power-radio input:checked+label:hover:before {
  background: url("../img/radio-on.svg") no-repeat left center;
}

.filter-button {
  width: 140px;
  padding: 10px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background: #ffffff;
  border: 1px solid #e5e5e5;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  background: #f7f3ec;
  border-radius: 2px;
}

.sorting-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 493px;
}

.sorting-item {
  margin: auto;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  white-space: nowrap;
  border-bottom: 1px dotted #ee3643;
}

.sorting-item:hover,
.sorting-item:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-item:active,
.sorting-activ {
  color: #ee3643;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.sorting-up-down {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px;
}

.sorting-up-down .sorting-up {
  display: block;
  width: 10px;
  height: 11px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, transparent), color-stop(50%, #ee3643)) left / 50% 100% no-repeat,
    -webkit-gradient(linear, right top, left bottom, color-stop(50%, transparent), color-stop(50%, #ee3643)) right / 50% 100% no-repeat;
  background: linear-gradient(to right bottom, transparent 50%, #ee3643 50%) left / 50% 100% no-repeat,
    linear-gradient(to left bottom, transparent 50%, #ee3643 50%) right / 50% 100% no-repeat;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.sorting-up-down .sorting-down {
  display: block;
  width: 10px;
  height: 11px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, transparent), color-stop(50%, #c5c5c5)) left / 50% 100% no-repeat,
    -webkit-gradient(linear, right bottom, left top, color-stop(50%, transparent), color-stop(50%, #c5c5c5)) right / 50% 100% no-repeat;
  background: linear-gradient(to right top, transparent 50%, #c5c5c5 50%) left / 50% 100% no-repeat,
    linear-gradient(to left top, transparent 50%, #c5c5c5 50%) right / 50% 100% no-repeat;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
}

.pagination a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 38px;
  min-height: 38px;
  margin-right: 10px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination a:hover,
.pagination a:focus {
  border: 1px solid #bdc6ca;
}

.pagination a:active {
  border: 1px solid #ee3643;
}

.pagination a:last-child {
  width: 140px;
}

a.current-pagination {
  color: #ffffff;
  background: #ee3643;
}

.about-goods {
  padding-bottom: 54px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background: #f2f6f8;
  border: 1px solid rgba(0, 0, 0, 0);
}

.about-goods h2 {
  margin-top: 65px;
}

.about-goods p {
  margin-top: 25px;
}

.modal-basket {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  border-top: 7px solid #ff5357;
  -webkit-box-shadow: 0 20px 40px 0 rgba(29, 46, 80, 0.75);
  box-shadow: 0 20px 40px 0 rgba(29, 46, 80, 0.75);
}

.btn-continue {
  color: #000000;
  background: #ffffff;
}
