@font-face {
  font-family: "cuprum";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/cuprum.woff2") format("woff2"),
    url("fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "cuprum";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/cuprumbold.woff2") format("woff2"),
    url("fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "cuprum";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/cuprumitalic.woff2") format("woff2"),
    url("fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "cuprum";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/cuprumbolditalic.woff2") format("woff2"),
    url("fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "ptsans";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/ptsans.woff2") format("woff2"),
    url("fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "ptsans";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/ptsansbold.woff2") format("woff2"),
    url("fonts/ptsansbold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  display: block;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.login-box ul,
.main-menu ul,
.slider-items,
.popular-goods ul,
.tabs,
.delivery ul,
.footer-container ul,
.copyright-item ul,
.breadcrumbs,
.catalog ul,
.popular-fabricator ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background: #f2f6f8 url("../img/bg-top.png");
  border-bottom: 1px solid transparent;
}

.logo-container {
  display: flex;
}

.logo-box {
  display: block;
  width: 100%;
  margin-bottom: 45px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.logo-img {
  display: flex;
  width: 220px;
  height: 47px;
  margin-bottom: -5px;
  padding-bottom: 5px;
  background-color: #ee3643;
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.24) inset;
}

.logo-img:hover,
.logo-img:focus {
  background-color: #ca2c37;
}

.logo-img:active {
  background-color: #ba2732;
}

.logo-img img {
  width: 110px;
  height: 20px;
  margin: auto;
}

.search-box {
  margin: 0;
}

.search-box input {
  width: 270px;
  min-height: 42px;
  margin-top: 1px;
  padding-left: 50px;
  color: #000000;
  /* border: none; */
  background: #293449;

  /* Временная рамка */
  border: 1px solid red;
}

.search-box input:hover {
  background: #212a3a;
}

.search-box input:active,
.search-box input:focus {
  color: #000000;
  background: #ffffff;
}

.btn-logo {
  display: block;
  width: 150px;
  padding-top: 12px;
  padding-left: 50px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: #293449;

  /* Временная рамка */
  border: 1px solid red;
}

.btn-logo:hover,
.btn-logo:focus {
  background: #212a3a;
}

.btn-logo:active {
  opacity: 0.6;
}

.order {
  padding-left: 0;
  background: #63a63e;
}

.order:hover,
.order:focus {
  background: #5fbb2d;
}

.cart-full {
  background: #ee3643;
}

.cart-full:hover,
.cart-full:focus {
  background: #ba2732;
}

.contacts-container {
  display: flex;
  margin-bottom: 40px;
}

.title-header {
  width: 300px;
  margin: 0;
  padding: 0 48px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contacts-login p {
  width: 270px;
  margin: 0;
  margin-right: auto;
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  padding: 9px;
  padding-left: 45px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  background: #f3f7f9;
  border: 3px solid #ffffff;
}

.login-box {
  width: 300px;
}

.login-box ul {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.btn-login {
  display: block;
  padding: 10px 25px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background: #ffffff;
}

.login-icon {
  margin-right: 15px;
  padding-left: 50px;
}

.btn-login:hover,
.btn-login:focus {
  color: #ee3643;
}

.btn-login:active {
  opacity: 0.3;
}

.login-breadcrumbs a {
  font-family: "cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.login-breadcrumbs span {
  display: block;
  width: 4px;
  height: 5px;
  background: #32425c;
  border-radius: 50%;
}

.btn-login.user:hover,
.btn-login.user:focus {
  color: #000000;
}

.login-breadcrumbs a:hover,
.login-breadcrumbs a:focus {
  color: #ee3643;
}

.btn-login.user:active,
.login-breadcrumbs a:active {
  opacity: 0.3;
}

.main-menu {
  margin-bottom: 60px;
  color: #ffffff;
  background: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.main-menu ul {
  display: flex;
  justify-content: center;
}

.main-menu a {
  display: block;
  padding: 22px 30px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #293449;
}

.main-menu a:active {
  opacity: 0.5;
}

.promo-block {
  margin-top: 60px;
  margin-bottom: 55px;
}

.promo-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.promo-item {
  display: block;
  width: 300px;
  padding: 20px 25px;
}

.promo-item h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-materials {
  background: #ffbf47;
}

.promo-tool {
  background: #3bbce3;
}

.promo-enginery {
  background: #dc91d8;
}

.promo-sale {
  background: #8ed78f;
}

.promo-delivery {
  background: #ffc047;
}

.promo-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
  padding-left: 3px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.btn-promo:hover,
.btn-promo:focus {
  background: rgba(0, 0, 0, 0.2);
}

.btn-promo:active {
  background: rgba(0, 0, 0, 0.3);
}

.promo-slider {
  position: relative;
  display: block;
  width: 620px;
  min-height: 266px;
}

.slider-items {
  display: block;
  width: 620px;
  min-height: 266px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* Временно черный */
  color: #000000;

}

.slider-items li,
.slider-items img {
  width: 620px;
}

.slider-items h3 {
  position: absolute;
  top: 25px;
  left: 23px;
  z-index: 1;
  margin: 0;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-items p {
  position: absolute;
  top: 65px;
  left: 23px;
  z-index: 1;
  margin: 0;
  color: #ffffff;
}

/* Временно для стилизации */
.slider-hidden {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  min-height: 38px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.button-catalog {
  position: absolute;
  bottom: 23px;
  left: 23px;
  z-index: 1;
  margin: 0;
}

.button:hover,
.button:focus {
  background: #ca2c37;
}

.button:active {
  background: #ba2732;
}

.btn-slider {
  position: absolute;
  top: 115px;
  z-index: 1;
}

.button-prev {
  left: 23px;
}

.button-next {
  right: 23px;
}

.title {
  position: relative;
}

.title h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background: #f9f5f0;
}

.title .button {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 253px;
}

.catalor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  display: block;
  width: 220px;
  min-height: 318px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item img {
  display: block;
  width: 218px;
  height: 170px;
}

.catalog-title {
  display: block;
  padding: 5px 15px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.price {
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-transform: uppercase;
}

.price-crossed {
  text-decoration: line-through;
}

.price-catalog {
  display: block;
  width: 141px;
  margin: 10px auto;
  padding: 10px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.catalog-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  min-height: 170px;
}

.button-hover {
  display: none;
}

.catalog-item:hover .button-hover {
  display: block;
}

.catalog-item:hover img {
  display: none;
}

.btn-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
}

.btn-buy {
  margin-bottom: 7px;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.btn-buy:hover,
.btn-buy:focus {
  color: #ffffff;
  background: #5fbb2d;
}

.btn-buy:active {
  color: #ffffff;
  background: #518534;
  box-shadow: none;
}

.btn-bookmarks {
  color: #32425c;
  border: 3px solid #63a63e;
}

.btn-bookmarks:hover,
.btn-bookmarks:focus {
  border-color: #32425c;
}

.btn-bookmarks:active {
  opacity: 0.3;
}

.popular-fabricator ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 85px;
}

.fabricator-item {
  display: flex;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.fabricator-item a {
  margin: auto;
  line-height: 0;
}

.fabricator-item:hover,
.fabricator-item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.fabricator-item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.service-box {
  margin-bottom: 20px;
  padding-top: 1px;
  padding-bottom: 55px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background: #f2f6f8 url("../img/bg-top.png");
}

.service-box p {
  width: 400px;
  margin-bottom: 25px;
}

.service-box h2,
.delivery-map h2,
.about-goods h2 {
  margin-top: 60px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.tabs-container {
  display: flex;
}

.tabs {
  padding-top: 45px;
  padding-bottom: 45px;
}

.tabs a {
  display: block;
  width: 240px;
  padding: 15px 20px 20px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.tabs a:hover,
.tabs a:focus {
  background-color: #293449;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.tabs a:active {
  background-color: #ffffff;
  box-shadow: 0 1px 0 #ffffff,
    inset 0 1px 0 #ffffff;
}

.tabs .active a {
  color: #32425c;
  background: #ffffff;
  box-shadow: 0 1px 0 #ffffff;
}

.tabs-content {
  flex-grow: 1;
  padding-top: 45px;
  padding-left: 80px;
  box-shadow: -25px 0 20px -30px rgba(0, 0, 0, 0.5);
}

.tabs-content h4 {
  margin: 0;
  padding: 0;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.tabs-delivery {
  background: url("../img/service-delivery.png") no-repeat top right;
}

.tabs-garant {
  background: url("../img/service-garant.png") no-repeat top right;
}

.tabs-credit {
  background: url("../img/service-credit.png") no-repeat;
  background-position: right top;
}

.btn-tabs {
  background: #ff5357;
}

.tabs-panel {
  display: none;
}

.tabs-panel.active {
  display: block;
}

.delivery-map {
  display: flex;
  justify-content: space-between;
  padding-top: 1px;
  padding-bottom: 85px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.delivery {
  width: 540px;
}

.delivery li {
  padding-top: 20px;
  padding-left: 35px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.delivery li:last-child {
  margin-bottom: 35px;
}

.delivery p {
  margin-bottom: 15px;
}

.delivery p:last-of-type {
  margin-bottom: 0;
}

.delivery .button {
  width: 220px;
}

.map-box {
  width: 300px;
}

.map-box .map-text {
  padding-right: 85px;
}

.map-box .button {
  width: 100%;
}

.btn-map {
  display: block;
  width: 300px;
  height: 158px;
  margin-top: 20px;
  margin-bottom: 40px;
  background: url("../img/map.png") no-repeat 100% 100%;
}

.modal-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  /* Временно для стилизации */
  /* display: flex; */
  background: rgba(0, 0, 0, 0.2);

}

.modal-map {
  position: relative;
  width: 940px;
  height: 446px;
  margin: auto;
  background: #565656;
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  background: none;
  border: none;
}

.btn-close:before,
.btn-close:after {
  content: ' ';
  position: absolute;
  top: 0;
  width: 5px;
  height: 22px;
  background: #ee3643;
}

.btn-close:before {
  transform: rotate(45deg);
}

.btn-close:after {
  transform: rotate(-45deg);
}

.modal-form {
  position: relative;
  width: 620px;
  margin: auto;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background: #ffffff;
  border-top: 7px solid #ff5357;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.form-item {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px 0 80px;
  margin-top: 40px;
}

.form-item p {
  width: 220px;
}

.form-item input,
.form-item-message textarea {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.form-item-message {
  margin: 0 80px 40px 80px;
}

.modal-bottom {
  width: 100%;
  padding: 40px 80px;
  background: #f4f4f4;
}

.modal-bottom button {
  border: none;
}

.modal-basket {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 620px;
  min-height: 282px;
  margin: auto;
  background: #ffffff;
}

.modal-basket p {
  position: relative;
  margin: 65px auto;
  padding-left: 88px;
}

.modal-basket p:before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  width: 66px;
  height: 66px;
  background: url("../img/icon-mark.svg") no-repeat;
  background-position: center;
}

.modal-basket .modal-bottom {
  display: flex;
  flex-direction: row;
}

.modal-basket .button {
  width: 220px;
}

.modal-basket .btn-basket {
  margin-right: 20px;
}

.main-footer {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background: #293449;
}

.logo-footer {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  background: #32425c;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.logo-footer .logo-img {
  width: 220px;
  height: 68px;
}

.logo-footer img {
  width: 138px;
  height: 23px;
}

.logo-footer p {
  width: 330px;
}

.logo-footer a {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-container .menu-footer {
  margin-top: 35px;
  margin-bottom: 75px;
}

.menu-footer-other li,
.menu-footer li {
  margin-right: 30px;
  margin-left: 30px;
}

.menu-footer-other li:first-child,
.menu-footer li:first-child {
  margin-right: 30px;
  margin-left: 0;
}

.menu-footer-other li:last-child,
.menu-footer li:last-child {
  margin-right: 0;
  margin-left: 30px;
}

.menu-footer a {
  color: #ffd180;
}

.logo-footer a:hover {
  text-decoration: underline;
}

.logo-footer a:active,
.logo-footer a:focus {
  opacity: 0.5;
}

.copyright-box {
  display: flex;
  justify-content: space-between;
}

.copyright-item {
  display: flex;
  flex-direction: row;
  width: 250px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.copyright-item .socia {
  display: flex;
  width: 150px;
  margin-left: 30px;
}

.icon-socia {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 3px;
  background-color: #212a3a;
  border-radius: 50%;
}

.icon-socia:hover,
.icon-socia:focus {
  background: #ee3643;
}

.icon-socia a {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.icon-vk {
  background: url("../img/icon-vk.svg") no-repeat;
  background-position: center;
}

.icon-fb {
  background: url("../img/icon-fb.svg") no-repeat;
  background-position: center;
}

.icon-inst {
  background: url("../img/icon-insta.svg") no-repeat;
  background-position: center;
}

.copyright-item p {
  margin: 0;
}

.copyright-item p+p {
  margin-left: 10px;
}

.copyright-item a {
  color: #ffd180;
}

.copyright-item a:focus,
.copyright-item a:active {
  color: #ee3643;
}

/* Дополнительные стили для catalog.html */
.user {
  padding-left: 49px;
}

.login-box .login-breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 17px;
}

.login-breadcrumbs span {
  margin: 10px 15px;
}

.breadcrumbs {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs a {
  margin: 0 17px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.main-catalog {
  margin-bottom: 60px;
}

.title-catalog {
  width: 100%;
  margin: 10px 0 20px;
  padding: 30px;
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background: #f2f6f8;
}

.sorting-catalog {
  display: flex;
  justify-content: space-around;
}

.catalog {
  width: 700px;
  margin-left: 20px;
}

.filter {
  width: 220px;
}

.filter h3,
.sorting h3 {
  margin: 0;
  padding: 10px 20px 10px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background: #f7f3ec;
  border-radius: 2px;
}

.filter h4 {
  margin: 0;
  padding: 20px 0 10px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter-range {
  display: flex;
  height: 80px;
  background: #f7f3ec;
  border-radius: 2px;
}

.filter-range input {
  margin: auto;
}

.range-discript {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price-range {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 38px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background: #f7f3ec;
  border-radius: 2px;
}

.filter-fabricator,
.filter-power {
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
}

.filter-fabricator {
  padding-bottom: 10px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.filter-power {
  margin-bottom: 70px;
}

.filter-button {
  width: 140px;
  padding: 10px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background: #ffffff;
  border: 1px solid #e5e5e5;
}

.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background: #f7f3ec;
  border-radius: 2px;
}

.sorting-box {
  display: flex;
  justify-content: space-between;
  width: 460px;
}

.sorting-item {
  margin: auto;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  white-space: nowrap;
  border-bottom: 1px dotted #ee3643;
}

.sorting-item:hover,
.sorting-item:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-item:active,
.sorting-activ {
  color: #ee3643;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.sorting-type {
  margin-right: 65px;
  margin-left: 70px;
}

.sorting-up-down {
  display: flex;
  margin-left: 50px;
}

.sorting-up,
.sorting-down {
  /* Временные стили */
  display: block;
  width: 11px;
  height: 10px;
  background: #ee3643;
}

.sorting-down {
  margin-right: 16px;
  margin-left: 20px;
}

.pagination {
  display: flex;
  margin-top: 55px;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  min-height: 38px;
  margin-right: 10px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination a:hover,
.pagination a:focus {
  border: 1px solid #bdc6ca;
}

.pagination a:active {
  border: 1px solid #ee3643;
}

.pagination a:last-child {
  width: 140px;
}

a.current-pagination {
  color: #ffffff;
  background: #ee3643;
}

.about-goods {
  padding-bottom: 60px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background: #f2f6f8;
  border: 1px solid transparent;
}

.modal-basket {
  font-family: "cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  border-top: 7px solid #ff5357;
  box-shadow: 0 20px 40px 0 rgba(29, 46, 80, 0.75);
}

.btn-continue {
  color: #000000;
  background: #ffffff;
}
